<a href="https://colab.research.google.com/github/Leon-S-Sekiya/h.lab/blob/main/%E3%81%8D%E3%81%AE%E3%81%93%E3%81%9F%E3%81%91%E3%81%AE%E3%81%93.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandasの入門

In [1]:
import pandas as pd

データフレームの作成

表形式のデータ構造を利用するための**データフレーム**がある。

DataFrame型(pandas専用)が準備されている。

列名を**カラム**名

行名を**インデックス**という。

それでは、ディクショナリをDataFrame関数でデータフレームに変換する。

In [2]:
data = {
'二星の労働時間' : [777, 999], # 二星の労働時間の作成
'大塚の労働時間' : [161,175] #大塚の労働時間
}

df = pd.DataFrame(data)
df # dfの表示

   二星の労働時間  大塚の労働時間
0      777      161
1      999      175

組み込み関数のtype関数を使うと、データフレームのデータ型を確認できる。

*データフレーム.shapeでできる。

参照結果は、タプル形式(行数,列数)で表示される。

In [3]:
#セルの途中の場合、print関数を
#利用しないと表示できない
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

データフレームの作成は、以下でできる。

(以下、まとめである。)

*pdはpandasのインポート時の別名

*2次元データには、バリューがリストのディクショナリや、2次元リストを指定することができる。

In [4]:
#変数名 = pd.DataFrame(2次元のデータ,
#    index = インデックスのリスト,
#   columns = 列名のリスト)

インデックスや列名の操作

インデックスをデフォルトの0,1から違う何かにする。

In [5]:
df.index = ['1月', '2月'] # dfのインデックスを変更
df # 表示

    二星の労働時間  大塚の労働時間
1月      777      161
2月      999      175

In [6]:
df.columns = ['二星の労働時間(h)','大塚の労働時間(h)'] #列名の変更
df #表示

    二星の労働時間(h)  大塚の労働時間(h)
1月         777         161
2月         999         175

変数.columnsや変数.indexと書くと、インデックスや列名のみを参照できる。

In [7]:
print(df.index) #インデックスの参照
print(df.columns) #列名の参照

Index(['1月', '2月'], dtype='object')
Index(['二星の労働時間(h)', '大塚の労働時間(h)'], dtype='object')

先に指定もできるよ。

In [8]:
data = [
    [777, 160],
    [999, 175]
    ]

df2 = pd.DataFrame(data, index = ['1月', '2月'], columns =
    ['二星の労働時間(h)','大塚の労働時間(h)'])
df2 # df2の表示

    二星の労働時間(h)  大塚の労働時間(h)
1月         777         160
2月         999         175

csvファイルをローカルからロードするよ。

In [9]:
from google.colab import files

uploaded = files.upload()

Saving KvsT.csv to KvsT.csv

read_csv関数でCSVファイルからデータを読み込む。

CSVファイルの読み込みは、

変数=pd.read_csv('ファイル名')

・先頭件数だけを表示

データフレーム.head(件数)

・末尾件数だけを表示

データフレーム.tail(件数)

In [10]:
# pandasは別名pdでインポート済
# KvsT.csvファイルを読み込んで、データフレームに変換
df = pd.read_csv('KvsT.csv')
# 先頭3行だけ表示
df.head(3)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

特定の列の参照

In [11]:
#身長列のみ参照
df['身長']

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64

複数の列を一度に参照。

In [12]:
#　抜き出したい列名の文字列リストを作成
col = ['身長','体重']
#　身長列と体重列のみを抜き出す
df[col]

     身長  体重
0   170  60
1   172  65
2   170  60
3   170  65
4   177  65
5   168  55
6   169  65
7   170  62
8   180  70
9   170  68
10  165  65
11  170  72
12  175  77
13  170  65
14  170  65
15  155  56
16  160  56
17  170  65
18  175  60

1列だけ抜き出したデータの型をtype関数で確認してみる。

In [13]:
type(df['派閥'])

pandas.core.series.Series

これはSeriesという型で、1次元にはこれが準備されている。

シリーズには行(インデックス)はあるが、列はない。

In [14]:
df['派閥']

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

**ポイント**

・pandasは表データを柔軟に取り扱える。

・pandasにおいて、1次元の単純なデータ集合を「シリーズ」と呼ぶ。

・pandasにおいて、2次元の表形式データを「データフレーム」と呼ぶ。

データの前処理をしよう。

教師あり学習では、入力データと正解データが必要となる。

入力データは1種類以上の特徴量から構成される。

特徴量とは、データの特徴を表したもので、予測に利用する列を意味する。

正解データは特徴量がある値をとった時の正解値になる。(ここではきのこたけのこ)

モデルに学習させる際、特徴量から成る入力データと正解データを別々に与える必要がある。

データフレームの特定の列を参照する方法を使って、データフレームを特徴量と正解データに分別する。

In [15]:
# 特徴量の列を参照して、xに代入
xcol = ['身長', '体重', '年代']
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

正解データを変数tに代入

In [16]:
# 正解データ(派閥)を参照して、tに代入
t = df['派閥']
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

以上により、データフレームの内容を特徴量xと正解データtに分別できた。

scikit-learnというライブラリを使ってモデルを作成しようと思う。

なぜこのライブラリか。それは、難しい背景理論を学ばずに実行しやすいからである。

今回は決定木モデルのモジュールをインポートする。

In [17]:
from sklearn import tree

モデルの準備には、treeモジュールのDecisionTreeClassifier関数を使う。

準備したモデルのfitメソッドに分割した特徴量xと正解データの変数tを渡すと、モデルに学習させることができる。

In [18]:
# モデルの準備(未学習)
model = tree.DecisionTreeClassifier(random_state = 0)
# 学習の実行(x,tは事前に定義済の特徴量と正解ラベル)
model.fit(x, t)

DecisionTreeClassifier(random_state=0)

random_state = 0 は乱数のシード値を指定している。

準備されたモデルはmodel関数に代入される。

モデルは「ある特徴量の人は、キノコ派(またはたけのこ派)である」という教師データを大量に受け取り、学習して、その法則を見出す。

その処理が、上記コードの4行目である。(たった1行で学習ができているのだ。)

すなわち、準備したモデルのfitメソッドの引数に特徴量と正解データを渡すことで、学習させる。

ちなみに、学習実行に用いるメソッド名は、scikit-learn内のすべての教師あり学習でfitに統一されている。

学習が完了したので、実際に新しい特徴量を与えて予測を行ってみる。

身長170cm、体重70㎏、年齢20代の人は、きのこ派たけのこ派どちらなのか。

In [19]:
# 身長170cm、体重70kg、年齢20代のデータ(新しいデータ)を
# 2次元データで作成
taro = [[170,70,20]]

# taroがどちらに分類されるか予測
model.predict(taro)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['きのこ'], dtype=object)

おそらくきのこ派だそうです。

未知のデータでの予測には、モデルのpredictメソッドを使う。

predictメソッドは、特徴量を受け取ると、array型で予測結果を返す。

predictメソッドは、fitメソッドと同様に、scikit-learnのモデルに共通する予測実行のための処理である。

predictメソッドは、もともと複数の予測を一度に実行するために、2次元リストを受け取る仕様になっている。

たとえば次のように、2人分の特徴量を2次元リストで渡すと、一度に分析を実行する。

In [20]:
matsuda = [172, 65, 20]     #マツダのデータ
asagi = [158, 48, 20]       #アサギのデータ
new_data = [matsuda, asagi] #2人のデータを2次元リスト化

model.predict(new_data)     #2人のデータを一括で予測

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['きのこ', 'たけのこ'], dtype=object)

学習はできたが、モデルは100発100中というわけではない。

選択したモデルが不適切であったり、そもそもデータの質が悪い(データ数が少なかったり、前処理の仕方が不適切だったりする)場合、モデルは誤った法則を学習してしまい、予測結果と実際の値に大きなズレが生じてしまう。

そのため、モデルの予測が本当に当たるかどうか、モデルの予測性能を調べて評価する必要がある。

今回の、「きのこたけのこ判断モデル」はどれほどの予測精度をもっているのだろうか。

どのようにしたら調べることができるだろうか。

幸い、教師データは持っているため、教師データに含まれる特徴量をモデルに与えてみて、その「予測結果」と教師データの「正解データ」とを比較することにより、モデルが適切に学習を行い、適切な予測ができているか、を確認することができる。

代表的な判断方法として、正解率という予測性能の指標がある。

正解率とは、複数件数予測させ、その何%が本当に正しかったかを表す。

正解率=(実際の答えと予測結果が一致している件数)÷(全データ件数)

正解率が高いほど、良い予測性能であると言える。

scikit-learnのモデルが備えるscoreメソッドで簡単に実行できる。

In [21]:
# 正解率の計算
model.score(x, t)

1.0

すなわちこのモデルの予測性能は100%である。うそだろ。。

モデルの評価が終わった。この学習し終えたモデルは保存して、あとから再利用することができるようだ。

Pythonの標準ライブラリである、pickleを使うとよいらしい。

pickleをインポートして、dump関数で指定のファイルにモデルを保存する。

withステートメントを利用したファイル入出力を使い、モデルの保存を行う。

In [22]:
import pickle

with open('KinokoTakenoko.pkl', 'wb') as f:
    pickle.dump(model, f)

モデルを保存したファイル(ここではKinokoTakenoko.pkl)からモデルを変数に読み込むと、再び学習させることなく、すぐにモデルを利用して推論などをさせることができる。

In [23]:
import pickle

with open('KinokoTakenoko.pkl', 'rb') as f:
    model2 = pickle.load(f)

ファイルから読み込んだ学習済モデルで予測する。

In [24]:
suzuki = [[180, 75, 30]]
model2.predict(suzuki)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['たけのこ'], dtype=object)

以下、今回の一連のソースコードをまとめて記載する。

In [25]:
import pandas as pd

# データの読み込み
df = pd.read_csv('KvsT.csv')

# 特徴量と正解データに分割
xcol = ['身長', '体重', '年代']
x = df[xcol]
t = df['派閥']

# モデルの準備と学習
from sklearn import tree
model = tree.DecisionTreeClassifier(random_state = 0)
model.fit(x, t)

# 正解率の計算
model.score(x, t)

1.0